.ScheduleSign > table {
    width: 90vw;
}

.DayOff {
    text-align: center;
}

.WorkDay {
    text-align: center;
}

table {
    max-width: 350px;
}

td {
    border-bottom: solid thin var(--color-line);
}