.ScheduleSign {
    width: 100%;
}

.DayOff {
    text-align: center;
}

.WorkDay {
    text-align: center;
}

table {
    max-width: 350px;
}

td {
    border-bottom: solid thin var(--color-line);
}

.Row {
    margin-top: 5px;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}