.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    height: 30px;
}

.Header {
    margin-bottom: .5rem;
}

.Info1 {
    margin-bottom: 1rem;
}

.Caption {
    margin-top: 0;
}

.Info {
    margin-top: 1rem;
}

.InfoUpdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: small;
}

.Phone {
    display: flex;
    justify-content: space-between;
}

.PhoneHeader {
    margin-bottom: .5rem;
}