:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0;
    margin: 0;

    color-scheme: light dark;
    color: orange;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --lineColor: darkgoldenrod;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #251002;
        background-color: wheat;
        --lineColor: #251002;
    }
}
